# Dependencies
**/node_modules/

# Env & secrets
**/.env
**/.env.local
**/.env.*.local

# Build
frontend/dist/
backend/uploads/

# OS / IDE
.DS_Store
Thumbs.db
*.log

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
